body {
  font-family: "Nunito";
  font-size: 1rem;
  line-height: 1.5rem;
  color: $text-dark;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: $margin;
}

h1 {
  font-size: 2rem;
  font-weight: 800;
}

h2 {
  font-weight: 800;
}

a {
  text-decoration: none;
  color: $blue-dark;
  margin-right: 15px;
  &:hover {
    background: $blue-light;
  }
}
