body {
  font-family: "Nunito";
  font-size: 1rem;
  line-height: 1.5rem;
  color: $text-dark;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul {
  margin-bottom: $margin;
}

h1 {
  font-size: 2rem;
  line-height: 2.3rem;
  font-weight: 800;
}

h2 {
  font-weight: 800;
}

a {
  text-decoration: none;
  color: $blue-dark;
  text-decoration: underline;
  text-decoration-color: $blue-light;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
  &:hover {
    background: $blue-light;
    text-decoration-color: $blue-dark;
  }
}

p {
  margin-bottom: $margin;
}
