.background-decoration {
  background-image: linear-gradient(to bottom, #4689fe, #0099fd);
  height: 250px;
  width: 100%;
  position: absolute;
  z-index: -5;
}

.container {
  max-width: $container-width;
  margin: auto;
}

header {
  &#main-header {
    margin-bottom: 15px;
    background: white;
    ul {
      max-width: $container-width;
      margin: auto;
      display: flex;
      padding: 15px 0;
      font-size: 1rem;
      text-transform: uppercase;
      a {
      }
    }
  }
}

section {
  &.main-banner {
    width: 100%;
    height: 300px;
    border-radius: $radius;
    display: flex;
    align-items: center;
    background-size: cover;
    margin-top: $margin;
    margin-bottom: $margin;
  }

  &.main-content {
    flex: 1;
    min-height: 450px;
    padding: 20px 0px;
  }
}

.featured-content {
  border: 1px dashed $blue-dark;
  padding: 30px 30px;
  border-radius: $radius;
  background: #0065ff08;
  margin-bottom: $margin * 2;
}

.featured-posts {
  display: flex;
  align-content: space-between;
  justify-content: initial;
  column-gap: 30px;
  margin-bottom: 50px;

  li {
    width: calc(100% / 2);
  }
}

footer {
  padding: 50px 0;
  text-align: center;
}
